<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.files.dao.UserFileDao">

    <select id="findFilesByUserId" parameterType="int" resultType="UserFile">
        SELECT id,oldFileName,newFileName,ext,path,size,type,isImg,downCounts,uploadTime
        FROM t_files
        WHERE userId= #{userId}
    </select>

    <insert id="save" parameterType="UserFile">
        INSERT INTO t_files(userId,oldFileName,newFileName,ext,path,size,type,isImg,downCounts,uploadTime)
        VALUES(#{userId},#{oldFileName},#{newFileName},#{ext},#{path},#{size},#{type},#{isImg},#{downCounts},#{uploadTime})
    </insert>

    <select id="findFileByFileId" parameterType="int" resultType="UserFile">
        SELECT id,userId,oldFileName,newFileName,ext,path,size,type,isImg,downCounts,uploadTime
        FROM t_files
        WHERE id= #{id}
    </select>

    <update id="updateDownCounts" parameterType="UserFile">
        UPDATE t_files
        SET downCounts=#{downCounts}
        WHERE id=#{id}
    </update>

    <delete id="deleteFile" parameterType="UserFile">
        DELETE FROM t_files
        WHERE id=#{id}
    </delete>
</mapper>